/*清默认样式*/
body,
h1,
h2,
h3,
h4,
ul,
li {
  margin: 0;
  padding: 0;
  font-family: helvetica;
}
img {
  display: block;
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
ul {
  list-style: none;
}
input {
  outline: none;
  -webkit-appearance: none;
}
/*头部的固定定位*/
html,
body {
  height: 100%;
  overflow: hidden;
  background: #eee;
}
.wrap {
  height: 100%;
  overflow: hidden;
}
#header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: #171717;
  border-bottom: 1px solid #838383 ;
  z-index: 996;
}
#headerT {
  height: 2rem;
}
#logo {
  float: left;
  padding: 0.38518519rem 0.25185185rem 0.31111111rem;
}
#logo img {
  width: 3.55555556rem;
}
#menuBtn {
  float: left;
  width: 1.91111111rem;
  height: 2rem;
  background: url(../img/menuBtn.png) no-repeat;
  background-size: 1.21481481rem 3.45185185rem;
}
.menuBtnClos {
  background-position: center 0.23703704rem !important;
}
.menuBtnOpen {
  background-position: center -1.77777778rem !important;
}
#btns {
  float: right;
  padding-top: 0.31111111rem;
}
#btns a {
  float: left;
  width: 1.64444444rem;
  height: 1.15555556rem;
  line-height: 1.15555556rem;
  background: #690;
  color: #ccc;
  margin-right: 0.22222222rem;
  font-size: 0.62222222rem;
  text-align: center;
  border-radius: 0.11851852rem;
}
#btns #searchBtn {
  width: 1.92592593rem;
  height: 1.3037037rem;
  line-height: 1.3037037rem;
  color: #fff;
  margin-right: 0.44444444rem;
  margin-top: 0.04444444rem;
  font-weight: bold;
  border-radius: 0.14814815rem;
}
#search {
  height: 1.52592593rem;
  padding: 0.23703704rem;
}
#search input[type="text"] {
  float: left;
  box-sizing: border-box;
  width: 12.28148148rem;
  height: 1.52592593rem;
  border: 1px solid black;
  background: #999;
  padding: 0.07407407rem 0.22222222rem;
  font-size: 0.60740741rem;
  color: #333;
  border-radius: 0.22222222rem 0 0 0.22222222rem;
}
#search input[type="text"]::-webkit-input-placeholder {
  color: #333;
}
#search input[type="text"]:focus {
  background: #fff;
}
#search input[type="submit"] {
  float: right;
  width: 3.00740741rem;
  height: 1.52592593rem;
  background: #414040;
  font-size: 0.74074074rem;
  font-weight: bold;
  border-radius: 0 0.22222222rem 0.22222222rem 0;
  border: none;
  color: #fff;
  text-align: center;
}
#list {
  display: none;
  position: absolute;
  z-index: 999;
  top: 2rem;
  left: 0;
  width: 100%;
  padding: 0.14814815rem 0;
  border-top: 1px solid #6a6a6a;
  background: rgba(0, 0, 0, 0.9);
}
#list li {
  float: left;
  width: 25%;
  height: 2rem;
  line-height: 2rem;
  font-size: 0.8rem;
  text-align: center;
}
#list a {
  color: #ffffff;
  font-weight: bold;
}
#content {
  padding-top: 4rem;
  border-bottom: 1px solid #CCCCCC ;
}
#nav_wrap {
  box-sizing: border-box;
  height: 2.62222222rem;
  padding: 0.45925926rem 0 0.20740741rem 0;
  overflow: hidden;
}
#nav_list {
  float: left;
  white-space: nowrap;
  font-size: 0;
}
#nav_wrap li {
  display: inline-block;
  height: 1.91111111rem;
  line-height: 1.91111111rem;
  font-size: 1rem;
}
#nav_wrap a {
  display: block;
  height: 1.91111111rem;
  line-height: 1.91111111rem;
  padding: 0 0.56296296rem;
  color: #000000;
}
#nav_wrap .nav_active {
  background: #690;
}
#nav_wrap .nav_active {
  color: #FFFFFF;
}
#pic_wrap {
  position: relative;
  overflow: hidden;
}
#pic_list {
  position: absolute;
  list-style: none;
}
#pic_list li {
  float: left;
}
#pic_list img {
  width: 100%;
  display: block;
}
#pic_nav {
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  text-align: center;
}
#pic_nav span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: gray;
}
#pic_nav .pic_active {
  background: deeppink;
}
.tab {
  width: 15.4962963rem;
  background: #ffffff;
  margin: 0 auto;
  overflow: hidden;
}
.tab .tab_header {
  height: 2rem;
  line-height: 2rem;
}
.tab_header h2 {
  float: left;
  font-size: 1rem;
}
.tab_header a {
  float: right;
  font-size: 0.8rem;
  color: black;
}
.tab_nav {
  position: relative;
  overflow: hidden;
  height: 1.55555556rem;
  line-height: 1.55555556rem;
}
.tab_nav a {
  float: left;
  width: 1.77777778rem;
  font-size: 0.7rem;
  text-align: center;
  color: #6b6b6b;
}
.tab_nav span {
  position: absolute;
  left: 0;
  bottom: 0.2rem;
  width: 1.77777778rem;
  height: 0.13333333rem;
  background: #6f900d;
}
.tab_wrap {
  overflow: hidden;
  width: 300%;
}
.tab_wrap ul {
  width: 33.33333333333%;
}
.tab_wrap span {
  color: #000 ;
}
.tab_loading {
  height: 1.4962963rem;
  background: url(../img/loading.gif) no-repeat;
  background-position: center;
  float: left;
  width: 100%;
  opacity: 0;
}
.tab_list {
  overflow: hidden;
  float: left;
}
.tab_list a {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
}
.tab_list li {
  box-sizing: border-box;
  width: 7.4962963rem;
  margin: 0.11851852rem;
  padding: 0.07407407rem;
  font-size: 0.8rem;
  background: #efefef;
  float: left;
}
.tab_list img {
  width: 100%;
}
.tab_list span {
  font-size: 0.6rem;
}
.ice_left,
.ice_right {
  float: left;
}
.ice_pic {
  display: inline-block;
  width: 0.59259259rem;
  height: 0.59259259rem;
  background: url(../img/ice.png) no-repeat;
}
.ice_left .ice_pic {
  background-position: 0.02962963rem 0.14814815rem;
}
.ice_right .ice_pic {
  background-position: 0.02962963rem -0.66666667rem;
}
.scrollBar {
  position: absolute;
  right: 0;
  top: 0;
  width: 4px;
  height: 100%;
  opacity: 0;
  background: gray;
  transition: .5s opacity;
  z-index: 1000;
}
